@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/*----------------------------------------1. Global Styles -----------------------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width-div-narrow: 40%;
    --width-div-wide: 80%;
    --margin-div: 25px;
    --margin-articles: 70px 30px 70px 30px;

}


/*----------------------------------------2. Typography --------------------------------------------------------*/

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

:root {
    --black-text: #0C0C0C;
    --blue-text: #4845E4;
}

/*----------------------------------------3. Layout ------------------------------------------------------------*/

body {
    display: flex;
    flex-direction: column;

}

:root {

    --background-header-contact: linear-gradient(135deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 75%);
    --purple-color: #5722CD;
}

.buttons {
    color: white;
    background-color: #ED4385;
    border-radius: 25px;
    border: none;
    width: 200px;
    height: 50px;
    margin: 10px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .5);

}


/*----------------------------------------4. Areas -------------------------------------------------------------*/

/*------- 4.1 Header -------------------------------------------------------------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    background: var(--background-header-contact);
    color: white;
    padding-bottom: 100px;
    position: relative;
    /*border: 3px solid black;*/
}

/*-----------------------------------------------------*/

.Nav-links {
    display: flex;
    flex-direction: row;
    Justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 50px;
    gap: 2rem;
    /*border: 3px solid red;*/

}

a:link {

    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

/*-----------------------------------------------------*/

.call2action {

    display: flex;
    flex-direction: column;
    align-self: center;
    flex-shrink: 0;
    width: var(--width-div-narrow);
    margin: var(--margin-div);
    text-align: center;
    /*border: 3px solid red;*/

}

.call2action > * {
    align-self: center;
    padding: 15px;
    /*border: 3px solid yellow;*/
}

/*-----------------------------------------------------*/

.squiggle {
    height: 50px;
    width: 1px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
}


.squiggle2 {
    position: absolute;
    left: calc(50% - 28px);
    bottom: 70px;

}

/*------- 4.2 Hello -------------------------------------------------------------------------------------------*/

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 3px solid black;*/
}

.intro {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    width: var(--width-div-narrow);
    margin: var(--margin-div);
    /*border: 3px solid red*/
}

.intro > * {
    text-align: center;
    margin: 10px;
    /*border: 3px solid yellow;*/
}

.intro h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--blue-text);

}

.intro p {
    padding-top: 100px;

}

.intro a {

    color: var(--blue-text);
}

/*------- 4.3 work --------------------------------------------------------------------------------------------*/

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
}

/*-----------------------------------------------------*/
.article-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: var(--width-div-wide);
    margin: var(--margin-div);
    flex-wrap: wrap;
    border: 3px solid yellow;
}

.rolling-stone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--margin-articles);
    flex-basis: 260px;
    max-height: 250px;
    min-height: 250px;
    border: 3px solid red;
    position: relative;
}

.squiggle2 {
    position: absolute;
    left: 0;
    bottom: 190px;

}

.rolling-stone > * {
    /*border: 3px solid blue;*/
}

/*-----------------------------------------------------*/

.article-2 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--width-div-wide);
    margin: var(--margin-div);
    flex-wrap: wrap;
    border: 3px solid yellow;
}

.variety {

    display: flex;
    flex-direction: column;
    margin: var(--margin-articles);
    flex-basis: 300px;
    flex-shrink: 0;
    border: 3px solid red;
}

/*-----------------------------------------------------*/

.article-3 {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: var(--width-div-wide);
    margin: var(--margin-div);
    flex-wrap: wrap;
    border: 3px solid yellow;
}

.worth {

    display: flex;
    flex-direction: column;
    margin: var(--margin-articles);
    flex-basis: 300px;
    flex-shrink: 0;
    border: 3px solid red;
}

/*-----------------------------------------------------*/


.pictures-frame {
    display: flex;
    flex-basis: 650px;
    max-height: 350px;
    border: 3px solid purple;
}

.pictures {

    width: 100%;
    height: auto;
    /*flex-shrink: 1;*/

    border: 3px solid orange;
}









