@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/*----------------------------------------1. Global Styles -----------------------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width-div-narrow: 40%;
    --width-div-wide: 80%;
    --margin-div: 25px;
    --margin-articles: 70px 30px 70px 30px;

}


/*----------------------------------------2. Typography --------------------------------------------------------*/

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

.services h3 {
    color: var(--purple-color);
}

.services p {
    color: var(--grey-text);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.contact h2 {
    font-size: 35px;
}

.work a {
    font-weight: 600;
    color: #4845E4;
}

.input-fields {
    font-weight: bold;
}

:root {
    --black-text: #0C0C0C;
    --blue-text: #4845E4;
    --grey-text: #7A7A7A;
}

/*----------------------------------------3. Layout ------------------------------------------------------------*/

body {
    display: flex;
    flex-direction: column;

}

:root {
    --background-header-contact: linear-gradient(135deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 75%);
    --purple-color: #5722CD;
    --background-projects: #F3F6F9;
    --shadow: 0 15px 15px 0 rgba(0, 0, 0, .5);
}


/*----------------------------------------4. Areas -------------------------------------------------------------*/

/*------- 4.1 Header -------------------------------------------------------------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    background: var(--background-header-contact);
    color: white;
    padding-bottom: 100px;
    position: relative;
    /*border: 3px solid black;*/
}

/*-----------------------------------------------------*/

.Nav-links {
    display: flex;
    flex-direction: row;
    Justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 50px;
    gap: 2rem;
    /*border: 3px solid red;*/

}

a:link {
    text-decoration: none;
}

nav a:visited, nav a {
    color: white;
    text-decoration: none;
}

/*-----------------------------------------------------*/

.call2action {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-shrink: 0;
    width: var(--width-div-narrow);
    margin: var(--margin-div);
    text-align: center;
    /*border: 3px solid red;*/

}

.call2action > * {
    align-self: center;
    padding: 15px;
    /*border: 3px solid yellow;*/
}

.buttons {
    color: white;
    background-color: #ED4385;
    border-radius: 25px;
    border: none;
    width: 200px;
    height: 50px;
    margin: 10px;
    box-shadow: var(--shadow);
}

/*-----------------------------------------------------*/

.squiggle {
    height: 50px;
    width: 1px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
}


.squiggle2 {
    position: absolute;
    left: calc(50% - 28px);
    bottom: 70px;

}

/*------- 4.2 Hello -------------------------------------------------------------------------------------------*/

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 3px solid black;*/
}

.intro {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    width: var(--width-div-narrow);
    margin: var(--margin-div);
    /*border: 3px solid red*/
}

.intro > * {
    text-align: center;
    margin: 10px;
    /*border: 3px solid yellow;*/
}

.intro h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--blue-text);

}

.intro p {
    padding-top: 100px;

}

.intro a {

    color: var(--blue-text);
}

/*------- 4.3 work --------------------------------------------------------------------------------------------*/

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-projects);
    /*border: 3px solid black;*/
}

/*-----------------------------------------------------*/
.article-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: var(--width-div-wide);
    margin: var(--margin-div);
    flex-wrap: wrap;
    /*border: 3px solid yellow;*/
}

.rolling-stone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--margin-articles);
    flex-basis: 260px;
    max-height: 250px;
    min-height: 250px;
    position: relative;
    /*border: 3px solid red;*/
}

.squiggle3 {
    position: absolute;
    left: 0;
    bottom: 190px;

}

/*-----------------------------------------------------*/

.article-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--width-div-wide);
    margin: var(--margin-div);
    flex-wrap: wrap;
    /*border: 3px solid yellow;*/
}

.variety {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--margin-articles);
    flex-basis: 260px;
    max-height: 250px;
    min-height: 250px;
    position: relative;
    /*border: 3px solid red;*/
}

.squiggle3 {
    position: absolute;
    left: 0;
    bottom: 190px;

}

/*-----------------------------------------------------*/

.article-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: var(--width-div-wide);
    margin: var(--margin-div);
    flex-wrap: wrap;
    /*border: 3px solid yellow;*/
}

.worth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--margin-articles);
    flex-basis: 260px;
    max-height: 250px;
    min-height: 250px;
    position: relative;
    /*border: 3px solid red;*/
}

.squiggle3 {
    position: absolute;
    left: 0;
    bottom: 190px;

}

/*-----------------------------------------------------*/


.pictures-frame {
    display: flex;
    flex-basis: 800px;
    max-height: 500px;
    /*border: 3px solid purple;*/
}

.pictures {
    width: 100%;
    height: auto;
    box-shadow: var(--shadow);
    /*border: 3px solid orange;*/
}

/*-----------------------------------------------------*/

.work a::after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background: #4845E4;
    position: absolute;
    bottom: 6px;
    left: 95px;
    transition: width .35s ease-in-out;
}

.work a:hover::after {
    width: 50px;
}

/*------- 4.4 Services --------------------------------------------------------------------------------------------*/

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 250px 115px;
    /*border: 3px solid red;*/
}

.services > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 380px;
    min-width: 380px;
    height: 400px;
    padding: 55px 50px 55px 50px;
    margin: 20px;
    box-shadow: var(--shadow);
    border: 2px solid var(--purple-color);
}

/*------- 4.6 Form --------------------------------------------------------------------------------------------*/

.contact {
    display: flex;
    justify-content: center;
    background: var(--background-header-contact);
    padding: 50px 115px;
    color: white;
    /*border: 3px solid yellow;*/
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width-div-narrow);
    /*border: 3px solid red;*/
}

.input-fields {
    display: flex;
    flex-direction: column;
    flex-basis: 360px;
    width: 660px;
    padding: 15px 8px 0 8px;
    /*border: 3px solid black;*/
}

.input-fields > * {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    /*border: 3px solid yellow;*/
}

.input-fields ::placeholder {
    padding-left: 15px;
}

#user-name-field,
#user-email-field {
    height: 35px;
    border-radius: 6px;
    border: none;
}

#user-message-field {
    border-radius: 6px;
    border: none;
}

/*------- 4.7 Footer ------------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    background: black;
    justify-content: center;
    padding: 20px 0;
}

footer p {
    font-size: 12px;
    font-weight: lighter;
    color: white;
}





